main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  background-image: url("../../assets/presentation-mobile.png");
  background-size: cover;
  height: 700px;
  width: 100vw;
  color: #ffffff;
  justify-content: center;
}

.introduction h1 {
  font-size: 3rem;
}

.introduction .description {
  padding-top: 4rem;
  width: 90%;
}

.introduction p {
  text-align: justify;
  font-size: 1.2rem;
}

main {
  background-color: #f7f6f5;
}

.introduction h1,
.introduction p {
  width: 40%;
}

.about {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  padding: 3rem 0;
}

.about .description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about .description h2 {
  font-size: 3rem;
}

.about .description h2 {
  text-align: right;
  color: #2ea06a;
}

.about .description p {
  padding: 1rem 0;
  text-align: right;
  width: 80%;
  color: #277340;
  font-size: 1.5rem;
}

.about .description .statistics {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.about .description .statistics p {
  margin: 0 1rem;
}

.statistics .custom-card {
  display: flex;
  width: 30%;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1;
  background-color: transparent;
}

.statistics .custom-card h2 {
  color: #277340;
  font-size: 4rem;
  text-align: center;
}

.statistics .custom-card p {
  color: #277340;
  font-size: 1rem;
  width: 90%;
  text-align: center;
}

.features {
  background-color: #277340;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  gap: 20px;
}

.features .features-container {
  display: flex;
  width: 90%;
}

.features .custom-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: transparent;
  color: #ffffff;
  margin-top: 1rem;
}

.features .custom-card h2,
p {
  text-align: center;
}

.features .custom-card img {
  width: 150px;
}

@media (max-width: 1600px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about .description p {
    text-align: center;
  }
  .about .description {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
}
@media (max-width: 1400px) {
  .introduction h1 {
    font-size: 2.5rem;
  }
  .introduction p {
    font-size: 1.1rem;
  }
  .about .description p {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .about .description {
    text-align: center;
  }
}
@media (max-width: 840px) {
  .introduction p {
    font-size: 1rem;
    width: 45%;
  }
  .introduction a {
    font-size: 0.8rem;
  }
  .features .custom-card h2 {
    font-size: 1.6rem;
  }
  .features .custom-card p {
    font-size: 0.9rem;
  }
  .features .custom-card img {
    width: 120px;
  }
}
@media (max-width: 750px) {
  .introduction h1 {
    width: 80%;
  }
  .introduction p {
    font-size: 0.8rem;
    width: 45%;
  }
  .introduction a {
    font-size: 0.8rem;
  }
  .custom-navbar a {
    font-size: 0.75rem;
  }
  .about .description h2 {
    text-align: center;
  }
}
@media (max-width: 610px) {
  .introduction {
    background-image: url("../../assets/presentation-mobile.png");
    text-align: center;
    padding: 0;
  }
  .introduction .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .introduction p {
    text-align: justify;
    font-size: 1rem;
  }
  .introduction h1,
  .introduction p,
  p {
    width: 90%;
  }
  .introduction button {
    margin-top: 2rem;
  }
  .about .description .statistics p,
  h2 {
    padding: 0.5rem 0;
  }
  .about .description h2 {
    padding: 2rem 0;
  }
  .about img {
    width: 100%;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .description .statistics {
    flex-direction: column;
  }
  .about .description .statistics .custom-card {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
  }
  .about .description p {
    padding: 1rem;
    text-align: justify;
    color: #277340;
  }
  .features .features-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .features .custom-card h2,
  p {
    text-align: center;
  }
  .features .custom-card img {
    width: 150px;
  }
}

/*# sourceMappingURL=index.css.map */
