:root {
  --primary: #2ea06a;
  --secondary: #277340;
  --black-text: #000000;
  --white-text: #ffffff;
  --background: #f7f6f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}
