:root {
  --primary: #2ea06a;
  --secondary: #277340;
  --black-text: #000000;
  --white-text: #ffffff;
  --background: #f7f6f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.custom-menu-hamburguer {
  display: none;
}

.custom-nav {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  gap: 10px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.custom-nav {
  background-color: var(--primary);
}

.custom-nav a {
  color: var(--white-text);
}

.custom-nav .custom-logo {
  color: var(--white-text);
  font-weight: bold;
  font-size: 2rem;
}

.custom-nav .custom-burger-buttom {
  color: var(--white-text);
  border-color: var(--white-text);
}

.custom-burger-buttom i {
  width: 100px;
}

footer {
  background-color: var(--secondary);
  color: var(--white-text);
  border-top: 1px solid rgba(0, 0, 0, 0.127);
  padding: 2rem;
  text-align: center;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.127);
}

@media (max-width: 610px) {
  .custom-menu-hamburguer {
    display: block;
  }

  .custom-navbar {
    display: none;
  }
}
